header {
  nav {
    img {
      margin: 30px 30px;
      width: 120px;
    }
    ul {
      a {
        font-family: "Roboto Condensed";
        color: #fff;
        font-size: 15px;
      }
    }
    .item-menu-header {
      margin-right: 15px;
    }
  }
}

.menu {
  display: flex;
  margin-left: 150px;
}

.text-box {
  position: absolute;
  top: 30%;
  left: 10%;
  font-family: "Roboto Slab";
  // transform: translate(-50%, -50%);
  .heading-primary {
    backface-visibility: hidden;
  }
  .heading-priary-title {
    font-size: 24px;
  }
  .heading-priary-main {
    display: block;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 400;
    animation: moveInLeft 3s;
    /* 
    animation-delay: 3s; 
    animation-iteration-count: 3;
    */
  }
  
  .vazio {
    width: 20px;
    height: 70px;
  }

  .bt_bb_link {
    box-shadow: 0 0 0 1px #ffffff inset;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0 100px;
  }
}



/*Stick nav*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(235, 233, 233);
  border-bottom: solid 1px #fff;
  z-index: 9999;
  a {
    color: rgb(138, 137, 137);
  }
  img {
    margin: 10px 30px;
    width: 120px;
  }
}